In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv('play_tennis.csv')

In [ ]:
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [ ]:
X=data.iloc[:,1:-1].values
Y=data.iloc[:,-1].values

In [ ]:
X

array([['Sunny', 'Hot', 'High', 'Weak'],
       ['Sunny', 'Hot', 'High', 'Strong'],
       ['Overcast', 'Hot', 'High', 'Weak'],
       ['Rain', 'Mild', 'High', 'Weak'],
       ['Rain', 'Cool', 'Normal', 'Weak'],
       ['Rain', 'Cool', 'Normal', 'Strong'],
       ['Overcast', 'Cool', 'Normal', 'Strong'],
       ['Sunny', 'Mild', 'High', 'Weak'],
       ['Sunny', 'Cool', 'Normal', 'Weak'],
       ['Rain', 'Mild', 'Normal', 'Weak'],
       ['Sunny', 'Mild', 'Normal', 'Strong'],
       ['Overcast', 'Mild', 'High', 'Strong'],
       ['Overcast', 'Hot', 'Normal', 'Weak'],
       ['Rain', 'Mild', 'High', 'Strong']], dtype=object)

In [ ]:
Y

array(['No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'No'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
Y=le.fit_transform(Y)

In [ ]:
Y

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

In [ ]:
#STEP1) CALCULATE ENTROPY OF CLASS

In [ ]:
import math

In [ ]:
p=0
for i in range(len(Y)):
  if(Y[i]==1):
    p=p+1
l=len(Y)
n=l-p
print('p=',p)
print('len(Y)=',l)
x1=p/l
x2=n/l
print('no. of positive rows=',p)
print('no. of negative rows=',n)
E_class=-(x1)*math.log(x1,2)-(x2)*math.log(x2,2)
print('E_class=',E_class)

p= 9
len(Y)= 14
no. of positive rows= 9
no. of negative rows= 5
E_class= 0.9402859586706309

In [ ]:
#STEP1) CALCULATE ENTROPY OF EACH ATTRIBUTE

In [ ]:
rows = len(X)
print('no. of rows=',rows)  
cols = len(X[0])
print('no. of attributes=',cols)

no. of rows= 14
no. of attributes= 4

In [ ]:
U1=np.unique(data.outlook)
U2=np.unique(data.temp)
U3=np.unique(data.humidity)
U4=np.unique(data.wind)

In [ ]:
print('Unique values of each column:-')
print('for outlook: ',U1)
print('for temp: ',U2)
print('for humidity: ',U3)
print('for wind: ',U4)

Unique values of each column:-
for outlook:  ['Overcast' 'Rain' 'Sunny']
for temp:  ['Cool' 'Hot' 'Mild']
for humidity:  ['High' 'Normal']
for wind:  ['Strong' 'Weak']

In [ ]:
#FOR OUTLOOK COLUMN:-

In [ ]:
Ans={"Outlook":[],"temp":[],"humidity":[],"wind":[],"play":[]};

In [ ]:
E1=[]
T1=[]
for i in range(len(U1)):
  a=b=t=0
  for j in range(len(Y)):
    if(Y[j]==1 and X[j][0]==U1[i]):
      a=a+1
    if(Y[j]==0 and X[j][0]==U1[i]):
      b=b+1
  t=a+b
  print('for ',U1[i])
  print('no. of positive rows=',a)
  print('no. of negative rows=',b)
  x1=a/t
  x2=b/t
  if(x1==0):
    x1=1
  if(x2==0):
    x2=1
  e=-(x1)*math.log(x1,2)-(x2)*math.log(x2,2)
  print(e)
  E1.append(e)
  T1.append(t)
print(E1)
print(T1)
temp=0
for k in range(len(E1)):
  temp=temp+(T1[k]/l)*E1[k]
ans=E_class-temp
print('IG(S,outlook)=',ans)
Ans["Outlook"].append(ans)

for  Overcast
no. of positive rows= 4
no. of negative rows= 0
-0.0
for  Rain
no. of positive rows= 3
no. of negative rows= 2
0.9709505944546686
for  Sunny
no. of positive rows= 2
no. of negative rows= 3
0.9709505944546686
[-0.0, 0.9709505944546686, 0.9709505944546686]
[4, 5, 5]
IG(S,outlook)= 0.2467498197744391

In [ ]:
#FOR temp COLUMN:-

In [ ]:
E2=[]
T2=[]
for i in range(len(U2)):
  a=b=t=0
  for j in range(len(Y)):
    if(Y[j]==1 and X[j][1]==U2[i]):
      a=a+1
    if(Y[j]==0 and X[j][1]==U2[i]):
      b=b+1
  t=a+b
  print('for ',U2[i])
  print('no. of positive rows=',a)
  print('no. of negative rows=',b)
  x1=a/t
  x2=b/t
  if(x1==0):
    x1=1
  if(x2==0):
    x2=1
  e=-(x1)*math.log(x1,2)-(x2)*math.log(x2,2)
  print(e)
  E2.append(e)
  T2.append(t)
print(E2)
print(T2)
temp=0
for k in range(len(E2)):
  temp=temp+(T2[k]/l)*E2[k]
ans=E_class-temp
print('IG(S,temp)=',ans)
Ans["temp"].append(ans)

for  Cool
no. of positive rows= 3
no. of negative rows= 1
0.8112781244591328
for  Hot
no. of positive rows= 2
no. of negative rows= 2
1.0
for  Mild
no. of positive rows= 4
no. of negative rows= 2
0.9182958340544896
[0.8112781244591328, 1.0, 0.9182958340544896]
[4, 4, 6]
IG(S,temp)= 0.029222565658954647

In [ ]:
#FOR humidity COLUMN:-

In [ ]:
E3=[]
T3=[]
for i in range(len(U3)):
  a=b=t=0
  for j in range(len(Y)):
    if(Y[j]==1 and X[j][2]==U3[i]):
      a=a+1
    if(Y[j]==0 and X[j][2]==U3[i]):
      b=b+1
  t=a+b
  print('for ',U3[i])
  print('no. of positive rows=',a)
  print('no. of negative rows=',b)
  x1=a/t
  x2=b/t
  if(x1==0):
    x1=1
  if(x2==0):
    x2=1
  e=-(x1)*math.log(x1,2)-(x2)*math.log(x2,2)
  print(e)
  E3.append(e)
  T3.append(t)
print(E3)
print(T3)
temp=0
for k in range(len(E3)):
  temp=temp+(T3[k]/l)*E3[k]
ans=E_class-temp
print('IG(S,humidity)=',ans)
Ans["humidity"].append(ans)

for  High
no. of positive rows= 3
no. of negative rows= 4
0.9852281360342516
for  Normal
no. of positive rows= 6
no. of negative rows= 1
0.5916727785823275
[0.9852281360342516, 0.5916727785823275]
[7, 7]
IG(S,humidity)= 0.15183550136234136

In [ ]:
#FOR wind COLUMN:-

In [ ]:
E4=[]
T4=[]
for i in range(len(U4)):
  a=b=t=0
  for j in range(len(Y)):
    if(Y[j]==1 and X[j][3]==U4[i]):
      a=a+1
    if(Y[j]==0 and X[j][3]==U4[i]):
      b=b+1
  t=a+b
  print('for ',U4[i])
  print('no. of positive rows=',a)
  print('no. of negative rows=',b)
  x1=a/t
  x2=b/t
  if(x1==0):
    x1=1
  if(x2==0):
    x2=1
  e=-(x1)*math.log(x1,2)-(x2)*math.log(x2,2)
  print(e)
  E4.append(e)
  T4.append(t)
print(E4)
print(T4)
temp=0
for k in range(len(E4)):
  temp=temp+(T4[k]/l)*E4[k]
ans=E_class-temp
print('IG(S,wind)=',ans)
Ans["wind"].append(ans)

for  Strong
no. of positive rows= 3
no. of negative rows= 3
1.0
for  Weak
no. of positive rows= 6
no. of negative rows= 2
0.8112781244591328
[1.0, 0.8112781244591328]
[6, 8]
IG(S,wind)= 0.04812703040826927

In [ ]:
print(Ans)

{'Outlook': [0.2467498197744391, 0.2467498197744391], 'temp': [0.029222565658954647], 'humidity': [0.15183550136234136], 'wind': [0.04812703040826927], 'play': []}

In [ ]:
print("Root node will be : ",max(Ans))

Root node will be :  wind